CREATE DATABASE [SamStore]
GO

USE [SamStore]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 10/14/2024 9:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SamPreOrders]    Script Date: 10/14/2024 9:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SamPreOrders](
	[PreOrderID] [int] IDENTITY(1,1) NOT NULL,
	[PreOrderNo] [nvarchar](10) NOT NULL,
	[DepositAmount] [int] NOT NULL,
	[TotalAmount] [int] NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[CustomerAddress] [nvarchar](150) NULL,
	[CustomerPhone] [nvarchar](50) NULL,
	[Status] [nvarchar](10) NULL,
	[CreatedAt] [date] NULL,
	[UpdatedAt] [date] NULL,
	[ProductID] [int] NOT NULL,
 CONSTRAINT [PK_SamPreOrders] PRIMARY KEY CLUSTERED 
(
	[PreOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SamProducts]    Script Date: 10/14/2024 9:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SamProducts](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[Ram] [int] NOT NULL,
	[Storage] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[CreatedAt] [date] NOT NULL,
	[UpdatedAt] [date] NOT NULL,
 CONSTRAINT [PK_SamProducts] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Members] ([MemberID], [FullName], [Email], [Password], [Status], [RoleID]) VALUES (N'admin', N'admin', N'admin@sam.com', N'234@', N'inactive', 1)
INSERT [dbo].[Members] ([MemberID], [FullName], [Email], [Password], [Status], [RoleID]) VALUES (N'member', N'member', N'member@sam.com', N'234@', N'active', 3)
INSERT [dbo].[Members] ([MemberID], [FullName], [Email], [Password], [Status], [RoleID]) VALUES (N'staff', N'staff', N'staff@sam.com', N'234@', N'active', 2)
GO
SET IDENTITY_INSERT [dbo].[SamPreOrders] ON 

INSERT [dbo].[SamPreOrders] ([PreOrderID], [PreOrderNo], [DepositAmount], [TotalAmount], [CustomerName], [CustomerAddress], [CustomerPhone], [Status], [CreatedAt], [UpdatedAt], [ProductID]) VALUES (1, N'Sam001', 200, 1000, N'David', N'Ho Chi Minh', N'0757524442', N'active', CAST(N'2024-11-11' AS Date), CAST(N'2024-11-11' AS Date), 2)
INSERT [dbo].[SamPreOrders] ([PreOrderID], [PreOrderNo], [DepositAmount], [TotalAmount], [CustomerName], [CustomerAddress], [CustomerPhone], [Status], [CreatedAt], [UpdatedAt], [ProductID]) VALUES (2, N'Sam002', 500, 1900, N'An', N'Nha Trang', N'0756711113', N'active', CAST(N'2024-12-13' AS Date), CAST(N'2024-12-13' AS Date), 16)
INSERT [dbo].[SamPreOrders] ([PreOrderID], [PreOrderNo], [DepositAmount], [TotalAmount], [CustomerName], [CustomerAddress], [CustomerPhone], [Status], [CreatedAt], [UpdatedAt], [ProductID]) VALUES (3, N'Sam003', 300, 1500, N'Nhu', N'Phu Yen', N'0902435312', N'active', CAST(N'2024-11-15' AS Date), CAST(N'2024-11-15' AS Date), 6)
SET IDENTITY_INSERT [dbo].[SamPreOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[SamProducts] ON 

INSERT [dbo].[SamProducts] ([ProductID], [ProductName], [Ram], [Storage], [Price], [CreatedAt], [UpdatedAt]) VALUES (2, N'SamSung S25', 8, 256, 1000, CAST(N'2024-10-10' AS Date), CAST(N'2024-10-10' AS Date))
INSERT [dbo].[SamProducts] ([ProductID], [ProductName], [Ram], [Storage], [Price], [CreatedAt], [UpdatedAt]) VALUES (4, N'SamSung S25', 8, 512, 1200, CAST(N'2024-10-10' AS Date), CAST(N'2024-10-10' AS Date))
INSERT [dbo].[SamProducts] ([ProductID], [ProductName], [Ram], [Storage], [Price], [CreatedAt], [UpdatedAt]) VALUES (6, N'SamSung S25', 8, 1024, 1500, CAST(N'2024-10-10' AS Date), CAST(N'2024-10-10' AS Date))
SET IDENTITY_INSERT [dbo].[SamProducts] OFF
GO
ALTER TABLE [dbo].[SamPreOrders]  WITH CHECK ADD  CONSTRAINT [FK_SamPreOrders_SamProducts] FOREIGN KEY([ProductID])
REFERENCES [dbo].[SamProducts] ([ProductID])
GO
ALTER TABLE [dbo].[SamPreOrders] CHECK CONSTRAINT [FK_SamPreOrders_SamProducts]
GO
